.background{
	-fx-background-color: #1D1D1D;
}

.label{
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.8;
}

.label-bright{
    -fx-font-size: 25px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 1;
}

.table-view{
    -fx-base: #1D1D1D;
    -fx-control-inner-background: #1D1D1D;
    -fx-background-color: #1D1D1D;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 8;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler{
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
    transparent
    transparent
    derive(-fx-base, 80%)
    transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1D1D1D transparent #1D1D1D;
    -fx-background-color: transparent, derive(#1D1D1D,90%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1D1D1D,20%);
}

.context-menu {
    -fx-background-color: derive(#1D1D1D,55%);
}

.menu-bar .label {
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover{
    -fx-background-color: #3A3A3A;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #FFFFFF;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #FFFFFF, #FFFFFF;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #FFFFFF;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}